{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>CA2</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    {% include 'footer.html' %}
    {% block javascript %}
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock javascript %}
</body>

</html>