<div>
    <footer class="bg-dark text-center text-white ">
        <div class="container p-3">
            <section class="m-5">
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><span
                        class="bi-facebook"></span></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><span
                        class="bi-twitter"></span></a>
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><span
                        class="bi-instagram"></span></a>
                </a>
            </section>
            <p>&copy; Online Games Store. Games are property of their respective owners.</p>
        </div>